.classpath
.project
.settings
.cache
.scala_dependencies
.metadata/
bin/
target/
lib_managed/
src_managed/
scala/project/boot/
clojure/pom.xml
clojure/*jar
clojure/lib
clojure/classes
python/__pycache__/
